<table class="table table-auto">
  <thead>
    <tr>
      <th class="w-auto">Event Date (Event Name)</th>
      <th class="w-auto">Summary of Signups</th>
      <th class="w-auto text-right">Missing Students</th>
      <% if params[:admin_view] == 'true' && admin_user? %>
        <th class="w-auto">Actions</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% events.each do |event| %>
      <tr>
        <!-- Event Date with Day of Week and Name -->
        <td>
         <%= link_to event.date.strftime("%B %e (%a)")+ " "+ event.name, event_path(event) %> 
        </td>

        <!-- Summary of Signups -->
        <td>
        <ul>
          <% event.event_options.each do |option| %>
            <li><%= "#{option.description}: #{option.student_event_options.count}" %> </li>
          <% end %>
        </ul>
        </td>
  <!-- Missing Students -->
        <td class="text-right">
          <% total_students = Student.count %>
          <% signed_up_students = StudentEventOption.where(event_id: event.id).distinct.count(:student_id) %>
          <%= total_students - signed_up_students %>
        </td>

        <% if params[:admin_view] == 'true' && admin_user? %>
          <td>
            <%= link_to 'Edit', edit_event_path(event), class: 'btn btn-sm btn-primary' %>
            <%= link_to 'Delete', event_path(event), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm bg-red-600 text-white hover:bg-red-700' %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>