<div id="<%= dom_id event_option %>">
  <p>
    <strong>Description:</strong>
    <%= event_option.description %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= event_option.cost %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= event_option.event_id %>
  </p>

  <p>
    <strong>office holds cash:</strong>
    <%= event_option.office_holds_cash %>
  </p>

  <p>
    <strong>Transportation required:</strong>
    <%= event_option.transportation_required %>
  </p>

</div>
