<p>Hello,</p>
<p>
  This is a confirmation that <strong><%= @student.short_name %></strong> has signed up for the following upcoming events.
</p>
<table border="1" cellpadding="5" cellspacing="0">
  <thead>
    <tr>
      <th>Date</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Event Name</th>
      <th>Event Option</th>
      <th>Cost</th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event_option| %>
        <tr>
          <td><%= event_option.event.date.strftime("%A, %B %e") %></td>
          <td><%= event_option.leave_time&.strftime("%I:%M %p") %> </td>
          <td><%= event_option.return_time&.strftime("%I:%M %p") %> </td>
          <td><%= event_option.event.name %></td>
          <td><%= event_option.description %></td>
          <td><%= number_to_currency(event_option.cost) %> </td>
        </tr>
     <% end %>
  </tbody>
</table>
<p>
  If you plan on having your student off campus during any of these events, please contact your student's advisor as soon as possible.
</p>