<p style="color: green"><%= notice %></p>

<%= render @advisor %>

<div>
  <% if admin_user? %>
    <%= link_to "Edit this advisor", edit_advisor_path(@advisor) %> |
  <% end %>
  <%= link_to "Back to advisors", advisors_path %>
</div>

<h2> Assigned Students</h2>
<table class="table table-auto">
  <thead>
    <tr>
      <th class="w-auto">Full Name</th>
      <th class="w-auto">Event Signup</th>
      <th class="w-auto text-right">Events Not Selected</th>
      <th class="w-auto">Year</th>
      <th class="w-auto">Living Area</th>
    </tr>
  </thead>
  <tbody>
    <% @advisor.students.each do |student| %>
      <tr>
        <td><%= "#{student.first_name} #{student.last_name}" %></td>
        <td><%= link_to "Event Signup", event_signup_student_path(student) %></td>
        <td class="text-right">
          <% total_upcoming = Event.upcoming.count %>
          <% selected = student.student_event_options.where(event_id: @upcoming_event_ids).count %>
          <%= total_upcoming - selected %>
        </td>
        <td><%= student.year %></td>
        <td><%= student.living_area&.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />
<h2 class="space-x-2">Up Comming Event:</h2>

<table class="table table-auto">
  <thead>
    <tr>
      <th class="w-auto">Event</th>
      <th class="w-auto">Event Option</th>
      <th class="w-auto text-right">Cost</th>
      <th class="w-auto">Students</th>
      <th class="w-auto text-right">Total to SC Office</th>
      <th class="w-auto text-right">Total Cash to Student</th>
    </tr>
  </thead>
  <tbody>
    <% @upcoming_events.each do |event| %>
      <% event_options_with_students = event.event_options.select { |eo| eo.student_event_options.any? { |seo| seo.student.advisor_id == @advisor.id } } %>
      <% event_options_with_students.each_with_index do |event_option, index| %>
          <tr>
            <% if index == 0 %>
              <td rowspan="<%= event_options_with_students.size %>">
                <%= event.name %> on <%= event.date.strftime("%A, %B %d, %Y") %>
              </td>
            <% end %>
            <td><%= event_option.description %></td>
            <td class="text-right"><%= display_event_option_cost(event_option) %></td>
            <td class="grid grid-cols-3 gap-x-4">
              <% event_option.student_event_options.select { |seo| seo.student.advisor_id == @advisor.id }.each do |seo| %>
                <span class="<%= (seo.student.student_life_holds_cash && !event_option.office_holds_cash) ? 'bg-green-200' : '' %>">
                  <%= seo.student.short_name %>
                </span>
              <% end %>
            </td>
            <% if index == 0 %>
              <td rowspan="<%= event_options_with_students.size %>" class="text-right">
                <% total_sc_office = event.cash_to_sc_office(@advisor.id).sum { |student| student.event_option_cost } %>
                <%= link_to number_to_currency(total_sc_office, unit: "$"), 
                    cash_office_event_path(event, advisor_id: @advisor.id), 
                    target: "_blank", 
                    rel: "noopener", 
                    class: "text-blue-600 underline" %>
              </td>
              <td rowspan="<%= event_options_with_students.size %>" class="text-right">
                <% total_cash_student = event.cash_to_students(@advisor.id).sum { |student| student.event_option_cost } %>
                <%= link_to number_to_currency(total_cash_student, unit: "$"), 
                    student_cash_event_path(event, advisor_id: @advisor.id), 
                    target: "_blank", 
                    rel: "noopener", 
                    class: "text-blue-600 underline" %>
              </td>
            <% end %>
          </tr>
      <% end %>
    <% end %>
  </tbody>
</table>