<div id="<%= dom_id vehicle %>">
  <p>
    <strong>Name:</strong>
    <%= vehicle.name %>
  </p>

  <p>
    <strong>Passenger capacity:</strong>
    <%= vehicle.passenger_capacity %>
  </p>

  <p>
    <strong>Working:</strong>
    <%= vehicle.working %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= vehicle.note %>
  </p>

</div>
